.date-diff-value {
    font-size: 2.5rem;
    font-weight: bolder;
    /* color: white; */
    color: black;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); */
    /* text-shadow: 2px 2px #FF0000; */
}
.date-diff-label {
    text-transform: uppercase;
    font-weight: 600;
    /* color: white; */
    color: black;
}
.dropdown-menu-item-style {
    align-items: center;
}
.mr-2 {
    margin-right: 0.5rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: " ";
    /* background: #d4d9df; */
    background: var(--vz-success);
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: " ";
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    /* border: 2px solid #22c0e8; */
    border: 2px solid var(--vz-success);
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}

.rating-wraper > span {
    font-size: 35px;
}

.navbar-menu .navbar-nav .nav-link.active {
    color: var(--vz-success) !important;
}

.navbar-menu .navbar-nav .nav-link:hover {
    color: var(--vz-success) !important;
}

.active-list-item {
    border-left: 6px solid var(--vz-success) !important;
}

.event-image img {
    width: 100%;
    height: 100%;
}

.card-full-image {
    border-radius: var(--vz-card-inner-border-radius);
}

.card-top-image {
    border-top-left-radius: var(--vz-card-inner-border-radius);
    border-top-right-radius: var(--vz-card-inner-border-radius);
}

.event-image {
    position: relative;
    margin: 0 !important;
}

.event-image figcaption {
    position: absolute;
    top: 50%;
    bottom: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#TicketFeatureTable p {
    margin-top: unset !important;
    margin-bottom: 0 !important;
}
#TicketFeatureTable td {
    margin-top: unset !important;
    margin-bottom: 0 !important;
}

#AttendeeTicketFeature p {
    margin-bottom: 0 !important;
}
