.templateCard {
    position: relative;
    overflow: hidden;
}

.templateImageWrapper {
    height: 350px;
    overflow: hidden;
}

.templateImage {
    transition: filter 0.3s ease;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.templateCard:hover .templateImage {
    filter: blur(3px);
}

.hoverButtons {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    background-color: rgba(0, 0, 0, 0.45);
    color: white;
}

.templateCard:hover .hoverButtons {
    opacity: 1;
}
